/* Navbar styles */
* {
  padding: 0;
  margin: 0;
}
.container {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 10px 20px; */
}

/* Logo styles */
.navbar-logo {
  display: inline-block;
  /* width: 30px; */
  height: 44px;
}

/* Center-align the navbar list */
.navbar-list {
  list-style: none;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* padding: 1px 2px; */
}

/* Style the navbar list items */
.navbar-list li {
  margin: 0 10px;
  /* color: #fff;
  font-family: Agrandir;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase; */
}

.navbar-list a {
  text-decoration: none;
  color: white;
  font-size: 0.75rem;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cash {
  width: 44rem;
  height: 19rem;
  font-size: 11rem;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 14rem;
  top: 6rem;
}

.phone-img {
  display: flex;
  position: absolute;
  top: 10rem;
  right: 42.2rem;
  z-index: 1;
}

.app {
  width: 44rem;
  height: 19rem;
  font-size: 11rem;
  color: white;
  position: absolute;
  z-index: 2;
  top: 21rem;
  left: 25rem;
}

.cube {
  position: relative;
  top: -9rem;
  left: 12rem;
  width: 4.6rem;
  height: 4.5rem;
}

.stairs {
  position: relative;
  top: -1rem;
  right: -17rem;
  width: 13rem;
  height: auto;
}

.cubes {
  position: relative;
  right: 55rem;
  bottom: -27rem;
}

.pillar {
  position: relative;
  bottom: -28rem;
  right: 12rem;
  width: 25rem;
}
.buttonSection {
  display: flex;
  justify-content: space-around;
  height: 8vh;
  z-index: 3;
}
.buttonSectionA {
  display: flex;
  background-color: black;
  border-radius: 1vh;
  border: 2px solid white;
}
.Appleclasswritten {
  color: aliceblue;
}
.buttonsectionb {
  display: flex;
  background-color: black;
  border-radius: 1vh;
  border: 2px solid white;
}
.my-1 {
  margin: 1vh;
}
.lastSection {
  display: flex;
  justify-content: space-around;
}
.written {
  color: aliceblue;
  font-family: "Mulish", sans-serif;
  font-size: 1vw;
  width: 30vw;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: -39vh;
  z-index: 99;
}
